<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apnaniwas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".chat.ActivityChatModule"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".signup.Signup"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".login.Login"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".BottomNavigationBar"
            android:theme="@style/BottomNavTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NotificationBoard"
            android:label="@string/notice_title" />
        <activity android:name=".notification.noticequeries.NoticeQueries" />
        <activity
            android:name=".ui.payment.mybills.PaymentHandler"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tmp.TmpProfile"
            android:theme="@style/BottomNavTheme" />
        <activity
            android:name=".signup.MobileVerification"
            android:theme="@style/BottomNavTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".signup.MobileRegistration"
            android:theme="@style/BottomNavTheme" />
        <activity
            android:name=".postuploader.AddNewPost"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".login.ForgotPassword"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".login.VerifyResetCode"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".login.NewPassword"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.yourpost.DetailActivity" />
    </application>

</manifest>